#.gitignore file for Project X [Vagrant]
# Mark Higginbottom
#somedir/[^empty.txt]* ignore everything in somedir directory except for empty.txt file
#
/shared/certificates/[^empty.txt]*
*.pem
known_hosts
authorized_keys
id_rsa
id_rsa.pub
/shared/ansible/files/.Xauthority
.vagrant
/shared/ansible/roles/[^ansible-role-awx]*
/awx/pg*
/log
/cicd/[^empty.txt]*
/shared/ansible/site.retry
/shared/ansible/site.yml~
